.generic-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  flex-wrap: wrap;
  padding: 4rem 0;
  margin-bottom: 1rem;
}

.btn-submit {
  border-radius: 5px;
  color: var(--blue100);
  background: var(--blue700);
  border: none;
  width: 5rem;
  height: 2.5rem;
  cursor: pointer;
  box-shadow: var(--shadow100);
}
button {
  cursor: pointer;
}

.contact-form {
  width: 40rem;
  border-top: solid 1rem var(--accent);
  background: white;
  padding: 1rem;
  box-shadow: 0 11px 25px -5px rgba(50, 50, 93, 0.25),
    0 6px 14px -8px rgba(0, 0, 0, 0.3), 0 -6px 14px -6px rgba(0, 0, 0, 0.025);
}
.contact-form__container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  input,
  textarea {
    width: 100%;
    background: var(--gray100);
    color: var(--gray700);
    border: none;
    box-shadow: 0 2px 4px -2px rgba(50, 50, 93, 0.25),
      0 4px 8px -4px rgba(0, 0, 0, 0.3), 0 -3px 5px -3px rgba(0, 0, 0, 0.025);
    padding: 0.8rem 2rem 0.8rem 2rem;
    margin: 0.5rem 0 1.8rem 0;
  }
}
.contact-form__information {
  margin: 2rem 0 0 0;
}
.contact-form__information-inner {
  display: flex;
  div {
    flex: 1 1 0;
    margin: 0 6px 0 0;
  }
}
.contact-form__message {
  margin: 1rem 0;
}
.contact-form__seperator {
  margin: 1rem 0.5rem 2rem 0.5rem;
  background: var(--gray400);
  height: 3px;
  justify-self: center;
}
form {
  span {
    color: var(--red);
    font-size: 1.3rem;
  }
}

.h1-underline {
  position: relative;
  &:after {
    background: var(--accent);
    border-radius: 15px;
    bottom: -1.5rem;
    content: "";
    height: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 5rem;
  }
}
.h1-underline__title {
  color: var(--accent);
  position: relative;
  &:after {
    background: var(--accent);
    border-radius: 15px;
    bottom: -1.5rem;
    content: "";
    height: 0.5rem;
    left: 0;
    position: absolute;
    width: 5rem;
  }
}
.h1-underline__title-sub {
  &:after {
    background: var(--accent);
  }
}
.h1-underline__large {
  color: var(--accent);
  position: relative;
  &:after {
    background: var(--accent);
    border-radius: 15px;
    bottom: -0.5rem;
    content: "";
    height: 0.5rem;
    left: 0;
    position: absolute;
    width: 5rem;
  }
}
.h1-underline__small {
  color: var(--accent);
  position: relative;
  &:after {
    background: var(--accent);
    border-radius: 15px;
    bottom: -1.5rem;
    content: "";
    height: 0.3rem;
    left: 0;
    position: absolute;
    width: 3rem;
  }
}

.contact-banner-container {
  position: relative;
  width: 30%;
  height: 10rem;
  background: var(--accent);
  margin: auto;
  margin-bottom: -6rem;
  align-self: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  min-width: 25rem;
  box-shadow: 0 11px 25px -5px rgba(50, 50, 93, 0.25),
    0 6px 14px -8px rgba(0, 0, 0, 0.3), 0 -6px 14px -6px rgba(0, 0, 0, 0.025);
  span {
    text-align: center;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: var(--gray200);
    margin: 1rem;
  }
  form {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      background: var(--gray800);
      height: 4rem;
      width: 35%;
      border: none;
      color: var(--gray200);
      border-radius: 0px 10px 10px 0px;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  input {
    color: var(--gray700);
    padding-left: 2rem;
    background: #edf2f7;
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 4rem;
    width: 65%;
  }
}
