:root {
  --blue: #4299e1;
  --green: #319795;
  --red: #bd0000;
  --gold: #d69e2e;

  --dark: black;
  --light: white;

  --gray100: #f7fafc;
  --gray200: #edf2f7;
  --gray300: #e2e8f0;
  --gray400: #cbd5e0;
  --gray500: #a0aec0;
  --gray600: #718096;
  --gray700: #4a5568;
  --gray800: #2c384b;
  --gray900: #181e2a;

  --blue100: #ebf8ff;
  --blue200: #bee3f8;
  --blue300: #90cdf4;
  --blue400: #63b3ed;
  --blue500: #4299e1;
  --blue600: #3283ce;
  --blue700: #296bb1;
  --blue800: #2c5282;
  --blue900: #2a4365;

  --shadow100: 0 2px 4px -2px rgba(50, 50, 93, 0.25),
    0 4px 8px -4px rgba(0, 0, 0, 0.3), 0 -3px 5px -3px rgba(0, 0, 0, 0.025);
  --shadow500: 0 11px 25px -5px rgba(50, 50, 93, 0.25),
    0 6px 14px -8px rgba(0, 0, 0, 0.3), 0 -6px 14px -6px rgba(0, 0, 0, 0.025);
  --shadow900: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);

  --dominant: var(--green);
  --accent: var(--blue600);
  --third: var(--gold);

  --background-main: var(--gray200);

  --speed: 500ms;
}

body {
  background: var(--gray100);
  background: -webkit-linear-gradient(
    to bottom,
    var(--gray100),
    var(--gray200)
  );
  background: linear-gradient(to bottom, var(--gray100), var(--gray200));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
