main {
  background: var(--gray200);
  min-height: 40rem;
}

footer {
  border-top: solid 10px var(--accent);
  width: 100%;
  min-height: 24rem;
  background: var(--gray900);
  display: flex;
  justify-content: center;
  align-items: center;
}
