.projects-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.project-contents-inner {
  width: 45%;
  height: 100%;
  min-height: 20rem;
  margin: 1.5rem;
}
.single-project-container {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  outline: none;
  background: var(--light);
  box-shadow: var(--shadow500);
  border: solid 2px var(--gray600);
  border-radius: 10px;
  &:hover {
    border: solid 2px var(--accent);
  }
  &:focus {
    border: solid 2px var(--accent);
  }
}
.single-project-container__image {
  // height: 20rem;
  width: 40%;
  margin: 0;
  padding: 0;
  border-radius: 9px 0 0 9px;
  img {
    object-position: left center !important;
  }
}

.single-project-container__content {
  width: 60%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  border-left: solid 2px var(--accent);
  > * {
    width: 100%;
  }
  h1 {
    text-transform: capitalize;
    font-size: 1.9rem;
  }
  p {
    line-height: 1.5;
    height: 55%;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-top: auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    li {
      margin: 0.2rem;
      text-align: center;
      width: 5rem;
      padding: 0.2rem;
      color: var(--blue100);
      background: var(--blue700);
      border-radius: 20px;
      font-size: 0.7rem;
    }
  }
}

//
// projects/{slug}  pages
//
.project-single__container {
  min-height: 45rem;
  background: var(--light);
  width: 100%;
  height: 100%;
  margin: 0 0 4rem 0;
  box-shadow: var(--shadow500);
  display: flex;
  border: solid 2px var(--accent);
  border-radius: 10px;
}
.large-image {
  height: auto;
}
.project-single__content {
  width: 90%;
  padding: 1rem 2rem;
  color: var(--blue800);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-left: solid 2px var(--accent);
  > * {
    width: 100%;
  }
  h1 {
    text-transform: capitalize;
    color: var(--accent);
  }
  p {
    min-height: 15rem;
    height: auto;
    margin: 1rem 0;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    font-weight: 700;
    li {
      margin: 0.2rem;
      text-align: center;
      width: 6rem;
      padding: 0.3rem;
      color: var(--blue800);
      background: var(--blue100);
      border-radius: 20px;
    }
  }
}
.project-single__content-links {
  width: 100%;
  display: flex;
  align-items: center;
  div {
    margin-left: auto;
  }
  a {
    margin: 0 0.5rem;
    cursor: pointer;
    &:hover {
      color: var(--dominant);
    }
  }
}
.project-single__content-video {
  width: 100%;
  height: 20rem;
}
