@media only screen and (max-width: 1642px) {
  .h1-underline__title {
    &:after {
      background: var(--dominant);
      width: 7rem;
    }
  }
  .h1-underline__title-sub {
    &:after {
      background: var(--accent);
      width: 5rem;
    }
  }
}
@media only screen and (max-width: 1500px) {
  //
  // Header
  //

  //
  // Landing
  //
  .landing-about__content {
    width: 60%;
  }
  .landing-apps {
    height: auto;
  }
  .landing-apps-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .landing-apps-component__image {
    margin: 1.5rem;
    width: auto;
    height: 14rem;
  }
  .landing--component__image {
    width: 100%;
    height: 13rem;
    margin: 2rem;
  }
  .landing-apps-component__banner {
    width: 100%;
    margin-top: -10rem;
  }
  .landing-apps-component__content-title {
    padding: 2rem 0;
    justify-content: center;
    //margin: 0 0 1rem 0;
  }
  .project-contents-inner {
    width: 530px;
    height: 300px;
    margin: 1rem;
  }

  //
  // Footer
  //

  //
  // Generics
  //
  .generic-container {
    width: 90%;
  }
  .h1-underline__large {
    &:after {
      bottom: -1.5rem;
      height: 0.5rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  //
  // Header
  //

  //
  // Landing
  //
  .landing-about__content {
    width: 80%;
    padding: 1rem;
    h1 {
      text-align: left;
    }
    p {
      font-size: 1.25rem;
      line-height: 1.5;
      padding: 1rem 0;
    }
    strong {
      text-align: center;
    }
  }
  .landing-apps-component {
    padding: 5rem 0 0 0;
  }

  //
  // Footer
  //

  //
  // Generics
  //
  .generic-container {
    width: 95%;
  }
  .h1-underline {
    &:after {
      left: 0;
      transform: translateX(0%);
    }
  }

  //
  // Projects
  //
  .project-contents-inner {
    width: 430px;
    height: 240px;
    margin: 0.5rem;
  }
  .single-project-container__content {
  }
}

@media only screen and (max-width: 1000px) {
  //
  // Header
  //
  .dropdown {
    width: 80%;
  }

  //
  // Landing
  //
  .hero__content-container {
    width: 60%;
    height: 100%;
    margin: 0 auto 0 0;
  }
  .hero__container {
    display: flex;
    flex-direction: row-reverse;
  }
  .hero__container-navbar {
    width: 50%;
  }
  .hero__content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
  }
  .hero__content-text {
    padding: 0;
    border: none;
  }
  .hero__cta-button {
    margin: 1rem 0 0 1rem;
  }
  .hero__image {
    -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    width: 40%;
  }
  .landing-apps-component__image {
    padding: 0.6rem 2rem;
  }
  .project-contents-inner {
    width: 320px;
    height: 170px;
  }
  .project-single__content {
    padding: 1rem;
  }
  .single-project-container__content {
    ul {
      li {
        padding: 3px;
        font-size: 0.7rem;
        width: 4.5rem;
        border-radius: 5px;
      }
    }
  }

  //
  // Footer
  //

  //
  // Generics
  //
  .generic-container {
    width: 95%;
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  //
  // Landing
  //
  .hero__cta-button {
    padding: 1rem 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  //
  // Header
  //
  .hero__image {
    width: 40%;
  }

  //
  // Landing
  //

  .hero__content-text {
    h1 {
      span {
        line-height: 1.2;
      }
    }
    h3 {
      line-height: 1.5;
    }
  }
  .hero__cta-button {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .landing--component__content-title {
    width: 90%;
    text-align: center;
  }
  .landing--component__content-data {
    width: 100%;
    border-radius: 0;
    padding: 2rem;
    height: auto;
    p {
      min-height: 10rem;
    }
    ul {
      flex-wrap: wrap;
      margin: 0;
      width: auto;
      height: 40%;
    }
  }
  .landing-apps-component {
    padding: 4rem 0 1rem 0;
    margin: 0;
  }
  .project-contents-inner {
    width: 100%;
  }
  .landing-apps-component__content-title {
    justify-content: flex-start;
    padding: 0 1rem;
  }
  .hero__container-navbar {
    width: 80%;
  }
  .landing-apps-component__content-title {
    h1 {
      font-size: 1.9rem;
    }
  }
  .landing-apps-component__content-data {
    border-radius: 0;
    width: 100%;
    height: auto;
    min-height: 20rem;
    padding: 0.5rem 0;
    flex-wrap: wrap;
    p {
      width: 100%;
      padding: 2rem 1.5rem;
    }
    ul {
      padding: 0 0.5rem;
      width: 100%;
      flex-wrap: wrap;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      li {
        border-radius: 10px;
        margin: 0.2rem;
        padding: 3px;
        font-size: 0.9rem;
        width: 7rem;
        border-radius: 5px;
      }
    }
  }
  .landing-apps-component__image {
    margin: 0;
    margin-left: auto;
  }
  .landing-apps-component__banner {
    margin-top: -50rem;
    height: 7rem;
  }
  .single-project-container__content p {
    min-height: auto;
    height: auto;
  }
  .landing-about {
    padding: 4rem 0;
  }
  .landing-about__content {
    width: 95%;
  }
  .contact-banner-container {
    width: 100%;
    border-radius: 0;
    min-width: auto;
    input {
      padding-left: 1rem;
    }
  }
  .project-contents-inner {
    width: 500px;
    height: 280px;
    margin: 1rem 0.5rem;
  }
  .single-project-container {
    width: 100%;
  }
  .single-project-container__image {
    width: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    img {
      border-radius: 5px 5px 0 0;
    }
  }
  .single-project-container__overlay {
    background-color: rgba(1, 7, 24, 0.5);
  }
  .single-project-container__content {
    opacity: 1;
    width: 100%;
    padding: 1rem;
    border: none;
    h1 {
      text-align: center;
      font-size: 1.5rem;
      background: var(--accent);
      color: var(--gray100);
      padding: 0.2rem;
      border-radius: 5px;
      &:after {
        display: none;
      }
    }
    p {
      border-radius: 5px;
      background-color: rgba(1, 7, 24, 0.3);
      color: var(--gray100);
      padding: 0.4rem;
      width: 100%;
      height: auto;
      padding: 0.2rem;
      font-size: 1rem;
      line-height: 1.2;
      margin: 0;
    }
  }

  //
  // Footer
  //
  .footer-container {
    padding: 5rem 0;
    ul {
      li {
        a {
          min-width: 5rem;
          width: 5rem;
        }
      }
    }
  }
  .footer-info {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      padding: 1rem 0;
      width: 100%;
    }
  }

  //
  // Generics
  //
  .generic-container {
    width: 100%;
  }
  .h1-underline__small {
    font-size: 1.3rem;
  }

  //
  // Projects Page
  //
  .project-single__info {
    width: 80%;
  }
  .project-single__content {
    width: 80%;
    border: none;
  }
  .project-single__content__image {
    width: 100%;
    height: 15rem;
  }
  .project-single__content-video {
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  //
  // Header
  //

  //
  // Landing
  //
  .hero__container {
    max-height: none;
    height: 100%;
  }
  .hero__content-container {
    height: 40rem;
  }
  .hero__container-icon {
    background-image: none;
  }
  .hero__image {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    opacity: 0.9;
  }
  .hero__container-navbar {
    width: 100%;
    right: 20px;
    top: 3px;
  }
  .hero__content {
    margin: 0;
    padding: 0;
    z-index: 10;
  }
  .hero__content-text {
    z-index: 10;
    h1 {
      padding: 0.3rem 0;
      margin-top: 4rem;

      span:nth-of-type(1) {
        color: var(--blue100);
        background: var(--blue700);
        padding: 0.5rem;
        font-size: 3rem;
        border-radius: 4px;
      }
      span:nth-of-type(2) {
        color: var(--teal50);
        background: var(--teal700);
        padding: 0.2rem 0.5rem 0.5rem 0.5rem;
        border-radius: 4px;
        font-size: 1.8rem;
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }
    }
    h3 {
      color: var(--blue100);
    }
    img {
      position: absolute;
      top: 40px;
    }
  }
  .hero__cta-button {
    margin: 0 auto;
    z-index: 10;
  }
  .hero__content-container {
    width: 100%;
    padding: 1rem 2rem;
  }

  .landing-about__content-tagLine {
    width: 100% !important;
  }

  .landing-apps-component__image {
    margin: 0;
    margin: 2rem 0 1rem 0;
  }
  .project-single__content {
    padding: 1rem;
    font-size: 1rem;
    ul {
      font-size: 0.8rem;
      li {
        width: 5rem;
        margin: 0.1rem;
      }
    }
    p {
      font-size: 1rem;
    }
  }
  .landing-apps-component__banner {
    margin-top: -55rem;
    width: 100%;
    height: 6rem;
    border-radius: 0;
  }

  //
  // Footer
  //
  .contact-banner-container {
    span {
      font-size: 1rem;
    }
    form {
      font-size: 0.8rem;
      input {
        height: 3rem;
      }
      a {
        height: 3rem;
      }
    }
  }

  //
  // Projects page
  //
  .project-single__content-links {
    div {
      a {
        margin: 0 0.1rem;
        svg {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
