@media only screen and (max-width: 1642px) {
  .h1-underline__title {
    &:after {
      background: var(--dominant);
      width: 7rem;
    }
  }
  .h1-underline__title-sub {
    &:after {
      background: var(--accent);
      width: 5rem;
    }
  }
}
@media only screen and (max-width: 1500px) {
  //
  // Header
  //

  //
  // Landing
  //
  .landing-about__content {
    width: 60%;
  }
  .landing-apps {
    height: auto;
  }
  .landing-apps-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .landing-apps-component__image {
    margin: 1.5rem;
    width: auto;
    height: 14rem;
  }
  .landing--component__image {
    width: 100%;
    height: 13rem;
    margin: 2rem;
  }
  .landing-apps-component__banner {
    width: 100%;
    margin-top: -10rem;
  }
  .landing-apps-component__content-title {
    padding: 2rem 0;
    justify-content: center;
    //margin: 0 0 1rem 0;
  }

  //
  // Footer
  //

  //
  // Generics
  //
  .generic-container {
    width: 90%;
  }
  .h1-underline__large {
    &:after {
      bottom: -1.5rem;
      height: 0.5rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  //
  // Header
  //

  //
  // Landing
  //
  .landing-about__content {
    width: 80%;
    padding: 1rem;
    h1 {
      text-align: left;
    }
    p {
      font-size: 1.25rem;
      line-height: 1.5;
      padding: 1rem 0;
    }
    strong {
      text-align: center;
    }
  }
  .landing-apps-component {
    padding: 5rem 0 0 0;
  }
  .landing-projects-container {
    width: 100%;
  }

  //
  // Footer
  //

  //
  // Generics
  //
  .generic-container {
    width: 95%;
  }
  .h1-underline {
    &:after {
      left: 0;
      transform: translateX(0%);
    }
  }

  //
  // Projects
  //
  .project-contents-inner {
    margin: 2rem 1rem;
  }
  .single-project-container {
    height: auto;
    min-height: 30rem;
  }
  .single-project-container__image {
    width: 30%;
  }
  .single-project-container__content {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  //
  // Header
  //
  .dropdown {
    width: 80%;
  }

  //
  // Landing
  //
  .hero__content-container {
    width: 100%;
  }
  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    min-height: 30rem;
  }
  .hero__container-navbar {
    width: 50%;
  }
  .hero__content {
    width: 100%;
    margin: 0 0 0 1rem;
  }
  .hero__content-text {
    padding: 0.3rem 2rem 0 1rem;
    border: none;
  }
  .hero__image {
    -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
  }
  .landing-apps-component__image {
    padding: 0.6rem 2rem;
  }
  .project-contents-inner {
    width: 80%;
  }
  .project-single__content {
    padding: 1rem;
  }
  .single-project-container__content {
    ul {
      li {
        padding: 3px;
        font-size: 0.7rem;
        width: 4.5rem;
        border-radius: 5px;
      }
    }
  }

  //
  // Footer
  //

  //
  // Generics
  //
  .generic-container {
    width: 95%;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  //
  // Header
  //
  .hero__image {
    width: 40%;
  }

  //
  // Landing
  //
  .hero__content-text {
    h1 {
      span {
        line-height: 1.2;
      }
    }
    h3 {
      line-height: 1.5;
    }
  }
  .landing--component__content-title {
    width: 90%;
    text-align: center;
  }
  .landing--component__content-data {
    width: 100%;
    border-radius: 0;
    padding: 2rem;
    height: auto;
    p {
      min-height: 10rem;
    }
    ul {
      flex-wrap: wrap;
      margin: 0;
      width: auto;
      height: 40%;
    }
  }
  .landing-apps-component {
    padding: 4rem 0 1rem 0;
    margin: 0;
  }
  .project-contents-inner {
    width: 100%;
  }
  .single-project-container {
    min-height: 25rem;
  }
  .landing-apps-component__content-title {
    justify-content: flex-start;
    padding: 0 1rem;
  }
  .hero__container-navbar {
    width: 80%;
  }
  .landing-apps-component__content-title {
    h1 {
      font-size: 1.9rem;
    }
  }
  .landing-apps-component__content-data {
    border-radius: 10px;
    width: 92%;
    height: auto;
    min-height: 20rem;
    padding: 2rem 0;
    flex-wrap: nowrap;
    p {
      width: 75%;
      padding: 0.5rem 1.5rem;
    }
    ul {
      padding: 0 0.5rem;
      width: 20%;
      flex-wrap: wrap;
      margin: 0;
      li {
        border-radius: 10px;
        margin: auto;
        // width: 100%;
        font-size: 0.7rem;
      }
    }
  }
  .landing-apps-component__image {
    margin: 0;
    margin-left: auto;
  }
  .landing-apps-component__banner {
    margin-top: -50rem;
    height: 7rem;
  }
  .single-project-container__content p {
    min-height: auto;
    height: auto;
  }
  .landing-about {
    padding: 4rem 0;
  }
  .landing-about__content {
    width: 95%;
  }
  .contact-banner-container {
    width: 100%;
    border-radius: 0;
    min-width: auto;
    input {
      padding-left: 1rem;
    }
  }

  //
  // Footer
  //
  .footer-container {
    padding: 5rem 0;
    ul {
      li {
        a {
          min-width: 5rem;
          width: 5rem;
        }
      }
    }
  }
  .footer-info {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      padding: 1rem 0;
      width: 100%;
    }
  }

  //
  // Generics
  //
  .generic-container {
    width: 90%;
  }
  .h1-underline__small {
    font-size: 1.3rem;
  }

  //
  // Projects
  //
  .project-contents-inner {
    margin: 2rem 0;
  }
  .single-project-container__image {
    width: 15%;
    min-width: 7rem;
  }
  .single-project-container__content {
    width: 85%;
    padding: 1rem;
    border-left: solid 4px var(--accent);
  }
  .single-project-container {
    width: 95%;
    margin: auto;
  }
}

@media only screen and (max-width: 450px) {
  //
  // Header
  //

  //
  // Landing
  //
  .hero__image {
    display: none;
  }
  .hero__container-navbar {
    width: 100%;
    right: 20px;
    top: 3px;
  }
  .hero__content {
    margin: 0;
  }
  .hero__content-text {
    padding: 0;
    h1 {
      margin-top: 4rem;
    }
    img {
      position: absolute;
      top: 40px;
    }
  }
  .hero__content-container {
    margin: 5rem 2rem 0 2rem;
  }

  .landing-about__content-tagLine {
    width: 100% !important;
  }

  .landing-apps-component__image {
    margin: 0;
    margin: 2rem 0 1rem 0;
  }
  .project-single__content {
    padding: 0.5rem;
    font-size: 0.9rem;
    ul {
      font-size: 0.8rem;
      li {
        width: 5rem;
        margin: 0.1rem;
      }
    }
    p {
      font-size: 0.9rem;
    }
  }
  .landing-apps-component__banner {
    margin-top: -55rem;
    width: 100%;
    height: 6rem;
    border-radius: 0;
  }

  //
  // Footer
  //
  .contact-banner-container {
    span {
      font-size: 1rem;
    }
    form {
      font-size: 0.8rem;
      input {
        height: 3rem;
      }
      a {
        height: 3rem;
      }
    }
  }

  //
  // Projects page
  //
  .single-project-container__image {
    width: 10%;
  }
  .single-project-container__content {
    width: 90%;
    padding: 1rem 0.5rem;
    // min-width: 13rem;
    ul {
      position: unset;
    }
  }
  .project-single__content-links {
    div {
      a {
        margin: 0 0.1rem;
        svg {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
